.container-fluid
{
  padding:2px;
}
a:hover, a:focus{
  text-decoration: none !important;
  outline: none !important;

}
.panel-group .panel{
  background-color: #fff;
  border:none;
  box-shadow:none;
  border-radius: 0px;
  margin-bottom:5px;
  padding:0px;

}
.panel .panel-heading{
  padding: 0;
  border-radius:0px;
  border:0px;
}
.panel-heading a{
  color:#ffffff !important;
  display: block;
  border:none;
  padding:15px 30px 15px;
  font-size: 16px;
  background-color: #5696ca;
  font-weight:600;
  position: relative;
  color:#3d4152;
  text-transform: capitalize;
  box-shadow:none;
  transition:all 0.1s ease 0;
}
.panel-heading a:after, .panel-heading a.collapsed:after{
  content: "\f068";
  font-family: fontawesome;
  text-align: center;
  position: absolute;
  left:-20px;
  top: 8px;
  color:#fff;
  background-color: #5696ca;
  border: 5px solid #fff;
  font-size: 15px;
  width: 35px;
  height:35px;
  line-height: 26px;
  border-radius: 50%;
  transition:all 0.3s ease 0s;
}
.panel-heading:hover a:after,
.panel-heading:hover a.collapsed:after{
  transform:rotate(360deg);
}
.panel-heading a.collapsed:after{
  content: "\f067";
}
#accordion .panel-body{
  background-color:#ffffff;
  line-height: 25px;
  padding: 20px 10px;
  border-top:none;
  position: relative;
}
.panel-body label
{
  color:#3d4152;
  font-weight:700;
  font-size: 13px;
  text-transform: capitalize;
}
.panel-body input , select ,textarea
{
  border-radius: 0;
  color: #000000;
  line-height:20px;
}
//product image upload
.panel-body input[type=file]{
  visibility: hidden;
  display: none;
}

.panel-body h4
{
  font-weight: 900;
  font-size:15px;
}

.plan-table{
  color:#3d4152;
  background: #f9f8f1;
  background: -moz-linear-gradient(top, #f9f8f1 0%, #f4f2e2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f8f1), color-stop(100%,#f4f2e2));
  background: -webkit-linear-gradient(top, #f9f8f1 0%,#f4f2e2 100%);
  background: -o-linear-gradient(top, #f9f8f1 0%,#f4f2e2 100%);
  background: -ms-linear-gradient(top, #f9f8f1 0%,#f4f2e2 100%);
  background: linear-gradient(to bottom, #f9f8f1 0%,#f4f2e2 100%);
}
.my-plan-table
{
  background-color: #dff5ff;
}




.panel-footer
{
  background-color: #ffffff;
  border-top:1px solid #f2f3f6;
  text-align: right;
}



