<div class="container-fluid">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="first" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Shop Details
                                    <span> </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                              <form class="form-horizontal">
                                <div class="form-group">
                                  <label class="col-md-3 control-label">Shop Status</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <input  name="shopstatus" placeholder="Shop Status" class="form-control readolny"  type="text" disabled>

                                    </div>
                                 </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Shop Name</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <input  name="shopname" placeholder="Shop Name" class="form-control readolny"  type="text" disabled title="Shop name can not be changed !">

                                    </div>
                                 </div>
                                 <!-- Text input-->
                                 <div class="form-group">
                                  <label class="col-md-3 control-label">E-Mail</label>
                                    <div class="col-md-8 inputGroupContainer">
                                      <input name="email" placeholder="E-Mail Address" class="form-control readonly"  type="text" disabled title="Email Address can not be changed !">

                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Phone Number</label>
                                   <div class="col-md-8 inputGroupContainer">
                                       <input name="phonenumber" placeholder="Phone Number" class="form-control" type="text">

                                   </div>
                                 </div>

                                 <div class="form-group">
                                   <label class="col-md-3 control-label">Shop Registration Number</label>
                                   <div class="col-md-8 inputGroupContainer">
                                      <input name="registrationnumber" placeholder="Registration Number" class="form-control" type="text">

                                    </div>
                                  </div>

                                  <div class="form-group">
                                    <label class="col-md-3 control-label">Delivery Options</label>
                                    <div class="col-md-8 selectContainer">
                                        <select name="deliveryoption" class="form-control selectpicker">
                                          <option value="0">Pickup From Shop</option>
                                          <option value="1">Home Delivery</option>
                                        </select>

                                    </div>
                                  </div>

                            </form>
                          </div>
                          <div class="panel-footer">
                            <button type="button" class="btn btn-primary">Save</button>
                          </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Shop Address
                                    <span> </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <form class="form-horizontal">
                              <div class="form-group">
                                <label class="col-md-3 control-label">Shop Address</label>
                                  <div class="col-md-8 inputGroupContainer">
                                      <textarea class="form-control" id="shopaddress"  name="shopaddress" rows="4"></textarea>
                                  </div>
                               </div>
                               <!-- Text input-->
                               <div class="form-group">
                                <label class="col-md-3 control-label">Town/Nagar/Sector</label>
                                  <div class="col-md-8 inputGroupContainer">
                                     <input name="shoplocation" placeholder="Rajendra Nagar etc." class="form-control"  type="text">
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="col-md-3 control-label">City</label>
                                 <div class="col-md-8 inputGroupContainer">
                                     <input name="shopcity" placeholder="City" class="form-control" type="text">
                                   </div>
                                 </div>


                               <div class="form-group">
                                 <label class="col-md-3 control-label">State</label>
                                 <div class="col-md-8 inputGroupContainer">
                                    <input name="shopstate" placeholder="State" class="form-control" type="text">
                                   </div>
                                  </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Country</label>
                                  <div class="col-md-8 inputGroupContainer">
                                     <input name="shopcountry" value="India" class="form-control" type="text">
                                    </div>
                                   </div>
                                 <div class="form-group">
                                <label class="col-md-3 control-label">PinCode</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <input name="shoppincode" placeholder="Pincode" class="form-control" type="text">
                                  </div>
                                 </div>
                          </form>
                        </div>
                        <div class="panel-footer">
                          <button type="button" class="btn btn-primary">Save</button>
                        </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Shop Owner Details
                                    <span> </span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                              <form class="form-horizontal">

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-8 inputGroupContainer">
                                        <input  name="ownername" placeholder="Owner Name" class="form-control"  type="text">

                                    </div>
                                 </div>
                                 <!-- Text input-->
                                 <div class="form-group">
                                  <label class="col-md-3 control-label">E-Mail</label>
                                    <div class="col-md-8 inputGroupContainer">
                                      <input name="owneremail" placeholder="Owner E-Mail Address" class="form-control"  type="text">

                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Phone Number</label>
                                   <div class="col-md-8 inputGroupContainer">
                                       <input name="ownerphonenumber" placeholder=" Owner Phone Number" class="form-control" type="text">

                                   </div>
                                 </div>

                               </form>
                            </div>
                            <div class="panel-footer">
                              <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Shop Owner Address Details
                                  <span> </span>
                              </a>
                          </h4>
                      </div>
                      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                          <form class="form-horizontal">
                            <div class="form-group">
                              <label class="col-md-3 control-label">Owner Address</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <textarea class="form-control"  name="owneraddress" rows="4"></textarea>
                                </div>
                             </div>

                            <div class="form-group">
                              <label class="col-md-3 control-label">City</label>
                               <div class="col-md-8 inputGroupContainer">
                                   <input name="ownercity" placeholder="City" class="form-control" type="text">
                                 </div>
                               </div>




                             <div class="form-group">
                               <label class="col-md-3 control-label">State</label>
                               <div class="col-md-8 inputGroupContainer">
                                  <input name="ownerstate" placeholder="State" class="form-control" type="text">
                                 </div>
                                </div>

                              <div class="form-group">
                                <label class="col-md-3 control-label">Country</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <input name="ownercountry" value="India" class="form-control" type="text">
                                  </div>
                                 </div>
                               <div class="form-group">
                                <label class="col-md-3 control-label">PinCode</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <input name="ownerpincode" placeholder="Pincode" class="form-control" type="text">
                                  </div>
                                 </div>
                        </form>
                      </div>
                      <div class="panel-footer">
                        <button type="button" class="btn btn-primary">Save</button>
                      </div>
                      </div>
                  </div>

                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                  Verification Documents And Shop Logo Upload
                                  <span> </span>
                              </a>
                          </h4>
                      </div>
                      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                          <form class="form-horizontal">
                            <div class="alert alert-danger" role="alert">
                               All Documents must be in JPG/JPEG/PNG format only.
                            </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Shop Document Type</label>
                                <div class="col-md-8 selectContainer">
                                    <select name="shopdocument" class="form-control selectpicker">
                                      <option value="license">Registration Certificate</option>
                                      <option value="Certificate">Other certificate</option>
                                    </select>

                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-md-3 control-label">Shop Document Number</label>
                                <div class="col-md-8 inputGroupContainer">
                                   <input name="shopdocumentNumber" placeholder="document number" class="form-control" type="text">
                                  </div>
                                 </div>

                              <div class="form-group">
                                <label class="col-md-3 control-label">Image</label>
                                <div class="col-md-8 selectContainer">
                                  <button type="button" class="imageButton" (click)="imagePicker.click()">Pick Document</button>
                                   <input type="file" name="shopdocument" #imagePicker multiple>
                                 </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Owner Document Type</label>
                                  <div class="col-md-8 selectContainer">
                                      <select name="ownerdocument" class="form-control selectpicker">
                                        <option value="aadhar">aadhar card</option>
                                        <option value="license">Driver License</option>
                                        <option value="votercard">Voter Card</option>
                                      </select>

                                  </div>
                                </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Owner aadhar/DL/Voter Card Number</label>
                                  <div class="col-md-8 inputGroupContainer">
                                     <input name="ownerdocumentNumber" placeholder="document number" class="form-control" type="text">
                                    </div>
                                   </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Image</label>
                                  <div class="col-md-8 selectContainer">
                                    <button type="button" class="imageButton" (click)="imagePicker.click()">Pick Document</button>
                                     <input type="file" name="ownerdocument" #imagePicker multiple>
                                   </div>
                                  </div>

                                <div class="form-group">
                                  <label class="col-md-3 control-label">Shop Logo</label>
                                  <div class="col-md-8 selectContainer">
                                    <button type="button" class="imageButton" (click)="imagePicker.click()">Pick Logo</button>
                                     <input type="file" name="shoplogo" #imagePicker multiple>
                                   </div>
                                  </div>

                        </form>
                      </div>
                      <div class="panel-footer">
                        <button type="button" class="btn btn-primary">Save</button>
                      </div>
                      </div>
                  </div>

                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Membership Plan
                                <span> </span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                      <div class="panel-body">
                       <h4>Membership Plan Details : </h4>
                        <table class="table table-bordered plan-table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Plan Name</th>
                              <th scope="col">Plan validity</th>
                              <th scope="col">Amount</th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr class="plan1">
                              <td>1.</td>
                              <td>LIGHT</td>
                              <td>1 Month</td>
                              <td>Rs. 199</td>
                            </tr>
                            <tr class="plan2">
                              <td>2.</td>
                              <td>WALK</td>
                              <td>3 Months</td>
                              <td>Rs. 549</td>
                            </tr>
                            <tr class="plan3">
                              <td>3.</td>
                              <td>RUN</td>
                              <td>6 Months</td>
                              <td>Rs. 999</td>
                            </tr>
                            <tr class="plan4">
                              <td>4.</td>
                              <td>FLY</td>
                              <td>12 Months</td>
                              <td>Rs. 1899</td>
                            </tr>

                          </tbody>
                        </table>

                        <h4>Active Plan Details : </h4>
                        <table class="table table-bordered my-plan-table">
                          <tbody>
                            <tr>
                              <th scope="row">Active Membership Plan</th>
                              <td>6 Months Plan </td>
                            </tr>
                            <tr>
                              <th scope="row">Plan Active Date</th>
                              <td>29-10-2020 , Thursday</td>
                            </tr>
                            <tr>
                              <th scope="row">Plan Active Upto</th>
                              <td>xx-xx-2021 , Tuesday</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSeven">
                      <h4 class="panel-title">
                          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              Change Password
                              <span> </span>
                          </a>
                      </h4>
                  </div>
                  <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                      <div class="panel-body">
                        <form class="form-horizontal">

                          <div class="form-group">
                            <label class="col-md-3 control-label">New Password</label>
                              <div class="col-md-8 inputGroupContainer">
                                  <input  name="newpassword" placeholder="New Password" class="form-control"  type="password">

                              </div>
                           </div>
                           <!-- Text input-->
                           <div class="form-group">
                            <label class="col-md-3 control-label">Confirm New Password</label>
                              <div class="col-md-8 inputGroupContainer">
                                <input name="confirmnewpassword" placeholder="Confirm New Password" class="form-control"  type="password">

                            </div>
                          </div>
                         </form>
                      </div>
                      <div class="panel-footer">
                        <button type="button" class="btn btn-primary">Save</button>
                      </div>
                  </div>
              </div>


                </div>

    </div>
