<div class="panel panel-default">
  <div class="panel-heading">
    <div class="heading"><i class="fa fa-cubes"></i> <span class="section-intro__style"> Product</span></div>
    <ul class="panel-options">
      <li><a href="/add-product"><i class="fa fa-plus-square"></i> Product</a></li>
    </ul>
  </div>

  <div class="panel-body">

    <form class="filter-form">
      <div class="row filters">
        <div class="col-12 col-md-4">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">Gender</span>
                <select class="form-control" name="selectbrand">
                  <option>Women</option>
                  <option>Men</option>
                  <option>Baby &amp; Kids</option>
               </select>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">Brand</span>
              <select class="form-control" name="selectbrand">
                <option>Puma</option>
                <option>Adidas</option>
                <option>Woodland</option>
             </select>
          </div>
          </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Type</span>
            <select class="form-control" name="selectbrand">
              <option>Casual</option>
              <option>Flip-Flop</option>
              <option>Formal</option>
              <option>Sandals</option>
           </select>
        </div>
        </div>
    </div>

      </div>

    </form>

    <section class="products">

        <!-- <div class="product-card">
          <div class="product-card-img">
            <img class="img" src="../../../assets/images/product1.png" alt="product1">
            <ul class="product-card-imgOverlay">
              <li data-toggle="modal" data-target="#productAddModal"><button><i class="fa fa-pencil"></i> Edit</button></li>
              <li data-toggle="modal" data-target="#sizeAddModal"><button><i class="fa fa-trash-o"></i> Remove</button></li>
            </ul>
          </div>
          <div class="product-info">
            <div class="product-brand">Puma</div>
            <div class="product-name">Puma Stylish shoes</div>
            <div class="product-type">Women , Sports shoes</div>
          </div>
        </div> -->

        <div class="product-card"  *ngFor = "let product of shopProduct" (click)="getProductDetails(product.products)">
          <!-- <a href="/add-product/puma-stylish-shoes"> -->
          <div style="height: 200px; margin: unset; overflow: hidden;">
             <img class="card-img"  [src]="getRandomImages(product.images)" style="height: 200px; width: 200px;" alt="product1">
             <!-- <ul class="product-card-imgOverlay">
                <li data-toggle="modal" data-target="#productAddModal"><button><i class="fa fa-pencil"></i> Edit</button></li>
                <li data-toggle="modal" data-target="#sizeAddModal"><button><i class="fa fa-trash-o"></i> Remove</button></li>
            </ul> -->
          </div>
          <div class="product-info">
             <div class="product-brand">{{product.brand}}</div>
             <div class="product-name">{{product.name | titlecase}}</div>
             <div class="product-type">Price between {{product.minPrice | currency:'INR'}} - {{product.maxPrice | currency:'INR'}}</div>
             <div class="product-size">
                <p>Sizes : <span  *ngFor="let size of product.sizes" >{{size.size}},</span></p>
             </div>
             <div class="product-color" *ngIf="product.colors.length > 0">
                Colors :  <span *ngFor="let color of product.colors" style="margin: 2px;">
                <img class="card-img" [src]="color.color" alt="product1" class="color-list">
                </span>
             </div>
             <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productAddModal" (click)="selectProduct(product)">Add to Shop</button> -->
          </div>
          <!-- </a> -->
       </div>
       </section>
  <!-- end of panel body -->
  </div>
</div>


    <!-- image Modal -->
    <div id="imageUploadModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"><i class="fa fa-picture-o"></i> Product Image</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="row">
                <div class="col-12 col-md-6">
                  <label for="name">color</label>
                  <select class="form-control">
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                  </select>
                </div>
                <div class="col-12 col-md-6 imageUpload">
                  <label for="name">Images</label>
                  <button type="button"  class="imageButton" (click)="imagePicker.click()">Pick Images</button>
                  <input type="file" name="image" #imagePicker multiple>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-12">
                <!--  <div class="imagePreview" *ngIf="imagePreview?.length>0">
                   <span *ngFor="let image of imagePreview;let i=index;">
                     <img  [src]="image" alt="bazarnav">
                     <svg class="uploadCancel" width="20" height="20" viewBox="0 0 24 24"  (click)="onDeleteImage(i)"><path d="M17.0251484,0.288798437 C17.5090218,-0.114571204 18.2292627,-0.0967643175 18.6927565,0.350826444 C19.189357,0.830387975 19.2031698,1.62172366 18.7236083,2.11832416 L18.7236083,2.11832416 L11.274,9.831 L18.7236083,17.5450054 C19.2031698,18.0416059 19.189357,18.8329416 18.6927565,19.3125031 C18.2292627,19.7600939 17.5090218,19.7779007 17.0251484,19.3745311 L16.9252588,19.2816513 L9.537,11.631 L2.14917595,19.2816513 L2.04928636,19.3745311 C1.56541292,19.7779007 0.845172034,19.7600939 0.381678232,19.3125031 C-0.114922271,18.8329416 -0.128735086,18.0416059 0.350826444,17.5450054 L0.350826444,17.5450054 L7.799,9.831 L0.350826444,2.11832416 C-0.128735086,1.62172366 -0.114922271,0.830387975 0.381678232,0.350826444 C0.845172034,-0.0967643175 1.56541292,-0.114571204 2.04928636,0.288798437 L2.14917595,0.381678232 L9.537,8.032 L16.9252588,0.381678232 Z" fill="#f00000" fill-rule="nonzero" stroke="#f00000" stroke-width="2"></path></svg>
                   </span>
                 </div> -->
                </div>
             </div>
           </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
            <button type="button" class="btn btn-primary" >Save</button>
          </div>
        </div>

      </div>
      <!-- end of modal -->
    </div>

        <!-- size Modal -->
        <div id="sizeAddModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-paw"></i> Product Size </h4>
              </div>
              <div class="modal-body">
                <form>
                  <div class="row">
                    <div class="col-12 col-md-5"><label >UK/IND Size</label></div>
                    <div class="col-12 col-md-5"><label >Length ( in cm )</label></div>
                    <div class="col-12 col-md-2"></div>
                  </div>
                  <!-- <div class="row"  *ngFor="let sizelist of productSize;let i=index">
                    <div class="col-12 col-md-5">
                       <input type="text" class="form-control" name="ukindsize{{i}}" [(ngModel)]="sizelist.ukind_size" placeholder="size">
                    </div>
                    <div class="col-12 col-md-5">
                      <input type="text" class="form-control" name="length{{i}}" [(ngModel)]="sizelist.length" placeholder="Length">
                    </div>
                    <div class="col-12 col-md-2">
                      <button class="btn btn-warning" type="button" *ngIf="productSize?.length>1" (click)="deleteProductSize(sizelist)"><svg  width="13" height="13" viewBox="0 0 19 19"><path d="M17.0251484,0.288798437 C17.5090218,-0.114571204 18.2292627,-0.0967643175 18.6927565,0.350826444 C19.189357,0.830387975 19.2031698,1.62172366 18.7236083,2.11832416 L18.7236083,2.11832416 L11.274,9.831 L18.7236083,17.5450054 C19.2031698,18.0416059 19.189357,18.8329416 18.6927565,19.3125031 C18.2292627,19.7600939 17.5090218,19.7779007 17.0251484,19.3745311 L16.9252588,19.2816513 L9.537,11.631 L2.14917595,19.2816513 L2.04928636,19.3745311 C1.56541292,19.7779007 0.845172034,19.7600939 0.381678232,19.3125031 C-0.114922271,18.8329416 -0.128735086,18.0416059 0.350826444,17.5450054 L0.350826444,17.5450054 L7.799,9.831 L0.350826444,2.11832416 C-0.128735086,1.62172366 -0.114922271,0.830387975 0.381678232,0.350826444 C0.845172034,-0.0967643175 1.56541292,-0.114571204 2.04928636,0.288798437 L2.14917595,0.381678232 L9.537,8.032 L16.9252588,0.381678232 Z" fill="#3d4152" fill-rule="nonzero" stroke="#3d4152" stroke-width="1"></path></svg></button>
                    </div>
                  </div> -->
               </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
                <!-- <button class="btn btn-info" type="button" (click)="addProductSize()">Add list</button> -->
                <button type="button" class="btn btn-primary">Save</button>

              </div>
            </div>

          </div>
          <!-- end of modal -->
        </div>

