<div class="list-group sidemenu">
  <a href="dashboard" class="list-group-item"><i class="fa fa-tachometer"></i> Dashboard</a>
  <a href="product" class="list-group-item"><i class="fa fa-cubes"></i> Product</a>
  <a href="add-product" class="list-group-item"><i class="fa fa-cubes"></i> Add Product</a>
  <a href="#" class="list-group-item"><i class="fa fa-question-circle"></i> Help</a>
  <a href="myAccount" class="list-group-item"><i class="fa fa-user"></i> My Account</a>
</div>
