<app-header></app-header>
<div class="row">
  <div class="col-12 col-md-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-12 col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-elastic-dots" [fullScreen] = "true"></ngx-spinner>
