/* You can add global styles to this file, and also import other style files */
body{
  margin:0;
  padding:0;
  background-color: #f2f3f6;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
.row{
  width:100%;
  margin:0px;
  padding:0px;
}
.container-fluid
{
  padding:0px 20px;
}
ul{list-style-type:none;margin:0;padding:0}
a:hover{text-decoration:none}
button{cursor:pointer}
button:focus{outline:0;box-shadow:none}
h1,h2,h3,h4,h5,h6{font-family:"Oswald",sans-serif;color:#222;line-height:1.1}h1,.h1{font-size:50px;font-weight:700}h2,.h2{font-size:36px;font-weight:600}h3,.h3{font-size:26px;font-weight:600}
@media (min-width: 600px){h3,.h3{font-size:36px}}h4,.h4{font-size:20px;font-weight:400;line-height:1.3}a{display:inline-block}.fixed{background:#fff;position:fixed !important;top:0;left:0;width:100% !important}


.btn
{
  border-radius:0px;
  margin:0 10px;
}
.panel , .panel-default,.panel-heading,.list-group-item
{
  margin:0px;
  border-radius:0px;
}
.panel,.panel-default{
  border:none;
  margin:0px;
  padding:0px;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 50%;
  }
  .row,.col-12,.container
  {
    margin:0px;
    padding:5px;
  }
}




