<div class="product-container">
  <div class="container-fliud">
 	<div class="product-wrapper row">
	  <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane " id="pic-{{i+1}}" *ngFor="let image of productDetails.images; let i=index"><img [src]="image.image" /></div>
			      <!-- <div class="tab-pane" id="pic-2"><img src="../../../assets/images/product1.png" /></div>
			      <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
			      <div class="tab-pane" id="pic-4"><img src="../../../assets/images/asian-shoes-1.jpeg" /></div>
			      <div class="tab-pane" id="pic-5"><img src="../../../assets/images/product1.png" /></div>
			      <div class="tab-pane" id="pic-6"><img src="http://placekitten.com/400/252" /></div> -->
           </div>
            <!-- <img id="featured" src="../../../assets/images/asian-shoes-1.jpeg"> -->
           <div id="slide-wrapper">
                <div id="leftSlide" class="arrow" (click)="sliderScroll(1)"><i class="fa fa-chevron-circle-left"></i></div>
                <div class="slider">
                  <img class="thumbnail" data-target="#pic-{{i+1}}" data-toggle="tab" *ngFor="let image of productDetails.images; let i=index" [src]="image.thumb_image">
                  <!-- <img class="thumbnail" data-target="#pic-2" data-toggle="tab" src="../../../assets/images/product1.png">
                  <img class="thumbnail" data-target="#pic-3" data-toggle="tab" src="http://placekitten.com/400/252">
                  <img class="thumbnail" data-target="#pic-4" data-toggle="tab" src="../../../assets/images/asian-shoes-1.jpeg">
                  <img class="thumbnail" data-target="#pic-5" data-toggle="tab" src="../../../assets/images/product1.png">
                  <img class="thumbnail" data-target="#pic-6" data-toggle="tab" src="http://placekitten.com/400/252"> -->
                </div>
                <div id="rightSlide" class="arrow" (click)="sliderScroll(0)"><i class="fa fa-chevron-circle-right"></i></div>
            </div>
        </div>
		<div class="details col-md-6">
				<h3 class="product-title">{{productDetails.name}}</h3>
				<div class="rating">
					<div class="stars">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star"></span>
						<span class="fa fa-star"></span>
					</div>
					<span class="review-no">41 reviews</span>
				</div>
				<p class="product-description">{{productDetails.name}}</p>
				<h4 class="price">current price: <span>{{productDetails.selling_price | currency:'INR'}}</span></h4>
				<p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
				<h5 class="sizes">sizes:
					<div class="size" data-toggle="tooltip" title="small" *ngFor="let size of productDetails.available_sizes" (click)="getProductDetailsById(size.productId)">{{size.size}}</div>
					
				</h5>
				<h5 class="colors">colors:
					<div  *ngFor="let color of productDetails.available_colors" (click)="getProductDetailsById(color.productId)"> 
            <img [src]="color.color" />
            {{color.colorName}}
          
          </div>
					<!-- <span class="color green"></span>
					<span class="color blue"></span> -->
				</h5>
				<!-- <div class="action">
					<button class="add-to-cart btn btn-default" type="button">add to cart</button>
					<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
				</div> -->
		  </div>
		</div>

	

		</div>

		</div>
