
.product-container
{
  background-color: #fff;
  padding:0px;
}
.container-fluid,.priceform
{
  padding:0px;
  margin: 0px;
}

.product-wrapper{
  padding:10px;
  margin-bottom: 20px;
}

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px;
 }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
    display: flex;
    flex-basis: 20%;
    flex-wrap: nowrap;
    overflow-x: auto;

  }



    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }

  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }




@media screen and (min-width: 997px) {
  .product-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }



.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

/* @-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } } */

/*# sourceMappingURL=style.css.map */




.thumbnail{
  object-fit: cover;
  max-width: 180px;
  max-height: 100px;
  cursor: pointer;
  // opacity: 0.5;
  margin: 2px;
  // margin-right:1px;
  border: 1px solid #f2f3f6;

}

.thumbnail:hover{
  opacity:1;
}

.active{
  opacity: 1;
}

#slide-wrapper{
  // max-width: 500px;
  display: flex;
  min-height: 100px;
  align-items: center;
}

.slider{
  width: 440px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;


}

.slider::-webkit-scrollbar {
    width: 8px;
    display: none;
}




.arrow i{
  cursor: pointer;
  transition: .3s;
  // line-height:120px;
  // background-color: #f2f3f6;
  color:#838591;
  font-size: 25px;
  margin:2px;
}

.arrow i:hover
{
  color:#3d4152;
}

.priceform .panel
{
  margin-bottom:10px;
}

.priceform .panel-heading
{
   padding:10px;
   background-color: #0076ad;
   color:#ffffff;
   font-weight:700;
}
.priceform .panel-footer
{
  background-color: #ffffff;
  border-top:1px solid #f2f3f6;
  border-bottom:1px solid #f2f3f6;
}

.priceform input , .priceform select
{
  border-radius: 0;
}
.priceform .pricelist
{
  margin-bottom:10px;
}
