<div class="panel panel-default">
  <div class="panel-heading">
     <div class="heading"><i class="fa fa-cubes"></i> <span class="section-intro__style"> Add Product</span></div>
  </div>
  <div class="panel-body">
     <form class="filter-form">
        <div class="row filters">
           <div class="col-12 col-md-4">
              <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon">Gender</span>
                    <select class="form-control" name="selectbrand">
                       <option>Women</option>
                       <option>Men</option>
                       <option>Baby &amp; Kids</option>
                    </select>
                 </div>
              </div>
           </div>
           <div class="col-12 col-md-4">
              <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon">Brand</span>
                    <select class="form-control" name="selectbrand">
                       <option>Puma</option>
                       <option>Adidas</option>
                       <option>Woodland</option>
                    </select>
                 </div>
              </div>
           </div>
           <div class="col-12 col-md-4">
              <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon">Type</span>
                    <select class="form-control" name="selectbrand">
                       <option>Casual</option>
                       <option>Flip-Flop</option>
                       <option>Formal</option>
                       <option>Sandals</option>
                    </select>
                 </div>
              </div>
           </div>
        </div>
     </form>
     <section class="products">
        <div class="product-card"  *ngFor = "let product of allProduct">
           <!-- <a href="/add-product/puma-stylish-shoes"> -->
           <div style="height: 200px; margin: unset; overflow: hidden;">
              <img class="card-img"  [src]="getRandomImages(product.images)" style="height: 200px; width: 200px;" alt="product1">
           </div>
           <div class="product-info">
              <div class="product-brand">{{product.brand}}</div>
              <div class="product-name">{{product.product | titlecase}}</div>
              <div class="product-type">Women , Sports shoes</div>
              <div class="product-size">
                 <!-- <p>Sizes : <span  *ngFor="let size of product.sizes" >{{size.size}},</span></p> -->
              </div>
              <div class="product-color" *ngIf="product.colors.length > 0">
                 Colors :  <span *ngFor="let color of product.colors" style="margin: 2px;">
                 <img class="card-img" [src]="color.color" alt="product1" class="color-list">
                 </span>
              </div>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#productAddModal" (click)="selectProduct(product)">Add to Shop</button>
           </div>
           <!-- </a> -->
        </div>
        <!-- hidden-product-card is used align last item of items in flex display -->
        <!-- <div class="product-card hidden-product-card" *ngFor="let in of [1,2,3]">
        </div> -->
     </section>
     <!-- end of panel body -->
  </div>
</div>
<!-- image Modal -->
<div id="productAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title"><i class="fa fa-picture-o"></i> Product Image</h4>
        </div>
        <div class="modal-body">
           <form>
              <div class="row">
               <div class="col-12 col-md-12">
                  <label for="name">Product</label>
                  <input type="text" class="form-control form-control-lg" placeholder="Email" aria-describedby="basic-addon1" value="{{selectedProduct.product}}" disabled>
                  <input type="text" class="form-control form-control-lg" placeholder="Email" aria-describedby="basic-addon1" [(ngModel)]="selectedProduct.product" name="product_size" disabled>

               </div>
               <div class="row">
                  <div class="col-12 col-md-6">
                     <label for="name">Select Color</label>
                      <select class="form-control" [(ngModel)]="addProductData.product_color" name="product_color" >
                         <option value="">Select One</option>
                        <option value="{{color.colorId}}" *ngFor = "let color of selectedProduct.colors">{{color.colorName}}</option>
                        
                     </select>
                  </div>
                  <div class="col-12 col-md-6">
                     <label for="name">Select Sizes</label>
                      <select class="form-control" [(ngModel)]="addProductData.product_size" name="product_size" >
                         <option value="">Select One</option>
                        <option value="{{size.sizeId}}" *ngFor = "let size of selectedProduct.sizes">{{size.size}}</option>
                        
                     </select>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 col-md-6">
                     <label for="name">Mrp</label>
                     <input type="number" class="form-control form-control-lg" placeholder="mrp" aria-describedby="basic-addon1" [(ngModel)]="addProductData.mrp" name="mrp">
                  </div>
                  <div class="col-12 col-md-6">
                     <label for="name">Selling Price</label>
                     <input type="number" class="form-control form-control-lg" placeholder="Selling Price" aria-describedby="basic-addon1" [(ngModel)]="addProductData.selling_price" name="selling_price">
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 col-md-6">
                     <label for="name">Select Quantity</label>
                     <input type="number" class="form-control form-control-lg" placeholder="Quantity" aria-describedby="basic-addon1" [(ngModel)]="addProductData.qty" name="qty">
                  </div>
                  <div class="col-12 col-md-6">
                     <label for="name">Discount</label>
                     <input type="number" class="form-control form-control-lg" placeholder="Discount" aria-describedby="basic-addon1" [(ngModel)]="addProductData.discount" name="discount">
                  </div>
               </div>
              </div>
              
           </form>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-danger" data-dismiss="modal" #modalClose>Cancel</button>
           <button type="button" class="btn btn-primary" (click)="addShopProduct()" >Save</button>
        </div>
     </div>
  </div>
  <!-- end of modal -->
</div>